- provide(:title, "#{t('.checkout')} · #{t('.complete')}")

%h2= t('.checkout')

%h3= "#{t('.order')} #{@order.id}"

.row
  .col-md-3
    %h4= t('.shipping_address')
    %p= @shipping_address.full_name
    %p= @shipping_address.address
    %p
      = @shipping_address.city
      = @shipping_address.zipcode
    %p= @shipping_address.country
    %p
      = t('.phone')
      = @shipping_address.phone
  .col-md-3
    %h4= t('.billing_address')
    %p= @billing_address.full_name
    %p= @billing_address.address
    %p
      = @billing_address.city
      = @billing_address.zipcode
    %p= @billing_address.country
    %p
      = t('.phone')
      = @billing_address.phone
  .col-md-3
    %h4= t('.shipments')
    %p= @order.delivery.name
  .col-md-3
    %h4= t('.payment_information')
    %p= current_user.credit_card.mask
    %p= current_user.credit_card.date

.row
  %table.table
    %thead
      %tr
        %th
        %th= t('.book')
        %th= t('.price')
        %th= t('.qty')
        %th= t('.total')
    %tbody
      - @order.order_items.each do |item|
        %tr
          %td
            = link_to book_path(item.book) do
              = image_tag item.book.cover.thumb
          %td
            %p.book-title= link_to item.book.title, book_path(item.book)
            %p= truncate item.book.description, length: 100
          %td= number_to_currency item.price
          %td
            %center= item.quantity
          %td= number_to_currency(item.quantity * item.price)
      %tr
        %td.subtotal{colspan: 4}
          %p= t('.subtotal')
          - if @order.discount
            %p= t('.discount')
          %p= t('.shipping')
          %p= t('.order_total')
        %td{colspan: 2}
          %p
            %b= number_to_currency @order.total_price
          - if @order.discount
            %p
              %b= "- #{@order.discount.discount}%"
          %p
            %b= number_to_currency @order.delivery.price
          - if @order.discount
            %p
              %b= number_to_currency @order.calc_discount + @order.delivery.price
          - else
            %p
              %b= number_to_currency @order.total_price + @order.delivery.price

%p= link_to t('.go_back_to_store'), root_path, class: 'btn btn-info'
