- provide(:title, 'Checkout · Confirm')

%h2 Checkout

= render 'steps'

%h3 Confirm

.row
  .col-md-3
    %h4 Shipping Address
    %p= @form.shipping_address.full_name
    %p= @form.shipping_address.address
    %p
      = @form.shipping_address.city
      = @form.shipping_address.zipcode
    %p= @form.shipping_address.country
    %p
      Phone
      = @form.shipping_address.phone
  .col-md-3
    %h4 Billing Address
    %p= @form.billing_address.full_name
    %p= @form.billing_address.address
    %p
      = @form.billing_address.city
      = @form.billing_address.zipcode
    %p= @form.billing_address.country
    %p
      Phone
      = @form.billing_address.phone
  .col-md-3
    %h4 Shipments
    %p= current_order.delivery.name
  .col-md-3
    %h4 Payment Information
    %p= current_user.credit_card.mask
    %p= current_user.credit_card.date

.row
  %table.table
    %thead
      %tr
        %th
        %th Book
        %th Price
        %th Qty
        %th Total
    %tbody
      - current_order.order_items.each do |item|
        %tr
          %td
            = link_to book_path(item.book) do
              = image_tag item.book.cover.thumb
          %td
            %p.book-title= link_to item.book.title, book_path(item.book)
            %p= truncate item.book.description, length: 100
          %td= number_to_currency item.price
          %td
            %center= item.quantity
          %td= number_to_currency(item.quantity * item.price)
      %tr
        %td.subtotal{colspan: 4}
          %p Subtotal:
          - if current_order.discount
            %p Discount: 
          %p Shipping:
          %p Order Total:
        %td{colspan: 2}
          %p
            %b= number_to_currency current_order.total_price
          - if current_order.discount
            %p
              %b= "- #{current_order.discount.discount}%"
          %p
            %b= number_to_currency current_order.delivery.price
          - if current_order.discount
            %p
              %b= number_to_currency current_order.calc_discount + current_order.delivery.price
          - else
            %p
              %b= number_to_currency current_order.total_price + current_order.delivery.price

%p= link_to 'Place Order', wizard_path, method: :patch, class: 'btn btn-info'
