- provide(:title, 'Checkout · Delivery')

%h2 Checkout

= render 'steps'

.row
  .col-md-4
    %h3 Delivery
    = form_tag wizard_path, method: :patch do |f|
      - @form.deliveries.each do |delivery|
        %div.radio
          %label
            = radio_button_tag 'delivery[id]', delivery.id, false,
              checked: delivery == (current_order.delivery or @form.deliveries.first)
            = "#{delivery.name} + #{number_to_currency delivery.price}"
      = submit_tag 'Save and continue', class: 'btn btn-info'
  .col-md-4
  .col-md-4.order-summary
    %h3 Order Summary
    %p
      Item total:
      %b= number_to_currency current_order.total_price
    - unless current_order.delivery.nil?
      %p
        Shipping:
        %b= number_to_currency current_order.delivery.price
    %p
      Order total:
      - if current_order.discount
        - unless current_order.delivery.nil?
          %b= number_to_currency current_order.calc_discount + current_order.delivery.price
        - else
          %b= number_to_currency current_order.calc_discount
      - else
        - unless current_order.delivery.nil?
          %b= number_to_currency current_order.total_price + current_order.delivery.price
        - else
          %b= number_to_currency current_order.total_price
