- provide(:title, 'Checkout · Payment')

%h2 Checkout

= render 'steps'

.row
  .col-md-4
    %h3 Credit card
    = render 'shared/error_messages', object: @form.payment
    = form_for @form.payment, url: wizard_path, method: :patch do |f|
      .form-group
        = f.text_field :number, class: 'form-control', placeholder: 'Number'
      .row.form-group
        .col-sm-6
          = f.select :exp_month, 01..12, { prompt: 'Exp. month' }, { class: 'form-control' }
        .col-sm-6
          = f.select :exp_year, Time.now.year..Time.now.year + 10, { prompt: 'Exp. year' }, { class: 'form-control' }
      .form-group
        = f.password_field :cvv, placeholder: 'Card Code', class: 'form-control'
      .form-group
        = f.submit 'Save and continue', class: 'btn btn-info'
  .col-md-4
  .col-md-4.order-summary
    %h3 Order Summary
    %p
      Item total:
      %b= number_to_currency current_order.total_price
    %p
      Shipping:
      %b= number_to_currency current_order.delivery.price
    %p
      Order total:
      - if current_order.discount
        %b= number_to_currency current_order.calc_discount + current_order.delivery.price
      - else
        %b= number_to_currency current_order.total_price + current_order.delivery.price
