%h1 Bestsellers
.carousel.slide{data: { ride: 'carousel' }, id: 'bestsellers'}
  %ol.carousel-indicators
    %li.active{'data-target': 'bestsellers', 'data-slide-to': '0' }
    %li{'data-target': 'bestsellers', 'data-slide-to': '1' }
    %li{'data-target': 'bestsellers', 'data-slide-to': '2' }
    %li{'data-target': 'bestsellers', 'data-slide-to': '3' }
    %li{'data-target': 'bestsellers', 'data-slide-to': '4' }
  .carousel-inner{role: 'listbox'}
    - @bestsellers.each_with_index do |book, i|
      .item{class: i == 0 ? 'active' : ''}
        .col-md-5
          = image_tag book.cover.url, class: 'img-responsive'
        .col-md-7
          %h2= link_to book.title, book_path(book)
          %p= truncate(book.description)
  = link_to '#bestsellers', data: { slide: 'prev' }, class: 'left carousel-control' do
    %span.glyphicon.glyphicon-chevron-left
  = link_to '#bestsellers', data: { slide: 'next' }, class: 'right carousel-control' do
    %span.glyphicon.glyphicon-chevron-right
