- provide(:title, "#{@book.title} by #{@book.author.full_name}")

%h3
  = @book.title
  %small
    by
    = @book.author.full_name

.row.single-book
  .col-md-4
    = image_tag @book.cover, title: @book.title, class: 'img-responsive'
  .col-md-8
    .row.info
      .col-md-6.price= number_to_currency @book.price
      - if user_signed_in?
        - unless current_user.book_in_wishlist?(@book)
          .col-md-3
            = button_to wishlist_book_path(@book), method: :post, class: 'btn btn-sm btn-info' do
              %span.glyphicon.glyphicon-plus
              #{t('.wishlist')}
        - else
          .col-md-3
            = button_to wishlist_book_path(@book), method: :delete, class: 'btn btn-sm btn-info' do
              %span.glyphicon.glyphicon-minus
              #{t('.wishlist')}
        .col-md-3.add-to-cart
          = button_to order_items_path(book_id: @book), class: 'btn btn-sm btn-success' do
            %span.glyphicon.glyphicon-shopping-cart
            #{t('.add_to_cart')}
      - else
        .col-md-6.add-to-cart
          = button_to order_items_path(book_id: @book), class: 'btn btn-sm btn-success' do
            %span.glyphicon.glyphicon-shopping-cart
            #{t('.add_to_cart')}
    .row
      .col-md-12
        = @book.description
        = render 'links' if can? :manage, Book

- if @ratings.any?
  %hr
  %h3= pluralize(@ratings.count, t('.review'))
= render @ratings

- if user_signed_in?
  = render 'ratings/form'
- else
  %hr
  %p.text-center
    = t('.please')
    = link_to 'sign in', new_user_session_path
    = t('.for_review_a_book')
