%h3
  = @book.title
  %small
    by
    = @book.author.full_name

.row.single-book
  .col-md-4
    = image_tag @book.cover, title: @book.title, class: 'img-responsive'
  .col-md-8
    .row.info
      .col-md-6.price= number_to_currency @book.price
      - if user_signed_in?
        - unless current_user.book_in_wishlist?(@book)
          .col-md-3
            = button_to wishlist_book_path(@book), method: :post, class: 'btn btn-sm btn-info' do
              %span.glyphicon.glyphicon-plus
              Wishlist
        - else
          .col-md-3
            = button_to wishlist_book_path(@book), method: :delete, class: 'btn btn-sm btn-info' do
              %span.glyphicon.glyphicon-minus
              Wishlist
        .col-md-3.add-to-cart
          = button_to order_items_path(book_id: @book), class: 'btn btn-sm btn-success' do
            %span.glyphicon.glyphicon-shopping-cart
            Add to Cart
      - else
        .col-md-6.add-to-cart
          = button_to order_items_path(book_id: @book), class: 'btn btn-sm btn-success' do
            %span.glyphicon.glyphicon-shopping-cart
            Add to Cart
    .row
      .col-md-12
        = @book.description
        = render 'links' if can? :manage, Book

%hr
%h2 Reviews
= render @ratings

- if user_signed_in?
  = render 'ratings/form'
- else
  %p.center
    Please 
    = link_to 'sign in', new_user_session_path
    for book review
