%h3
  = @book.title
  %small
    by
    = @book.author.full_name

.row.single-book
  .col-md-4
    = image_tag @book.cover, title: @book.title, class: 'img-responsive'
  .col-md-8
    .row.info
      .col-md-6.price= number_to_currency @book.price
      .col-md-6.add-to-cart= button_to 'Add to Cart',
        order_items_path(book_id: @book), class: 'btn btn-sm btn-success'
    .row
      .col-md-12
        = @book.description
        = render 'links' if can? :manage, Book

%hr
%h2 Reviews
- @ratings.each do |rating|
  .media
    .media-left.media-top
      = link_to '#' do
        = image_tag rating.user.avatar.thumb, class: 'media-object'
    .media-body
      %h4.media-heading= "Rating: #{rating.rating}"
      = rating.review

- if user_signed_in?
  %hr
  %h3 Add review
  = form_for @rating, url: book_ratings_path(@book) do |f|
    .form-group
      - (1..10).each do |value|
        %label.radio-inline
          = f.radio_button :rating, value, checked: true
          = value
    .form-group
      = f.label :review
      = f.text_area :review, rows: 3, class: 'form-control'
    .form-group
      = f.submit 'Add review', class: 'btn btn-default'
- else
  %p.center
    Please 
    = link_to 'sign in', new_user_session_path
    for book review
