%h3
  = @book.title
  %small
    by
    = @book.author.full_name

.row.single-book
  .col-md-4
    = image_tag @book.cover, title: @book.title
  .col-md-8
    .row.info
      .col-md-6.price= number_to_currency @book.price
      .col-md-6.add-to-cart= button_to 'Add to Cart',
        order_items_path(book_id: @book), class: 'btn btn-sm btn-success'
    .row
      .col-md-12
        = @book.description
        = render 'links' if can? :manage, Book

