- provide(:title, 'Shopping cart')

%h2 Your cart

- unless @order_items.empty?
  .panel.panel-info
    .panel-heading
      .panel-title
        .row
          .col-xs-6
            %h5
              %span.glyphicon.glyphicon-shopping-cart
              Shopping Cart
          .col-xs-6
            = link_to books_path, class: 'btn btn-primary btn-sm btn-block' do
              %span.glyphicon.glyphicon-share-alt
              Continue shopping
    .panel-body
      = form_tag cart_path, method: :put do
        - @order_items.each do |item|
          = fields_for "order_items[]", item do |f|
            = render 'row', item: item, f: f
        .row
          .text-center
            .col-xs-5
              %h6.text-right Added books?
            .col-xs-4
              - coupon = @order.discount ? @order.discount.coupon : nil
              = text_field_tag :discount, coupon, placeholder: 'Coupon code',
                class: 'form-control input-sm'
            .col-xs-3
              = submit_tag 'Update cart', class: 'btn btn-default btn-sm btn-block'
    .panel-footer
      .row.text-center
        .col-xs-2
          = button_to cart_path, method: :delete, class: 'btn btn-danger btn-block' do
            Empty cart
        .col-xs-7#subtotal
          %h4.text-right
            = "Total #{order_total_price}"
            - if @order.discount
              = "(#{number_to_currency @order.calc_discount} with coupon)"
        .col-xs-3
          = link_to 'Checkout', order_steps_path, class: 'btn btn-success btn-block'
- else
  %p Your shopping cart is empty.
