%header.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      = link_to '#', class:'navbar-toggle collapsed', data: { toggle: 'collapse', target: '#bs-navbar-collapse-1', 'aria-expanded': false } do
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Bookstore', root_path, class: 'navbar-brand logo'

    .collapse.navbar-collapse#bs-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        = form_tag books_path, method: :get, id: 'search-form', class: 'navbar-form navbar-left' do
          .form-group
            = text_field_tag :search, params[:search], placeholder: "Search books", class: 'form-control'
          = submit_tag 'Search', class: 'btn btn-default'
        - if user_signed_in?
          %li
            = link_to cart_path do
              %span.glyphicon.glyphicon-shopping-cart
              Cart (#{cart_counter})
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown', role: 'button', 'aria-haspopup': true, 'aria-expanded': false } do
              = current_user.email
              %span.caret
            %ul.dropdown-menu
              - if can? :access, :rails_admin
                %li
                  = link_to rails_admin.dashboard_path do
                    Admin Panel
                    %span.gl-right.glyphicon.glyphicon-wrench
              %li
                = link_to wishlist_books_path do
                  My Wishlist
                  %span.gl-right.glyphicon.glyphicon-heart
              %li
                = link_to orders_path do
                  My Orders
                  %span.gl-right.glyphicon.glyphicon-list-alt
              %li
                = link_to edit_user_registration_path do
                  Settings
                  %span.gl-right.glyphicon.glyphicon-cog
              %li.divider{role: 'separator'}
              %li
                = link_to destroy_user_session_path, method: :delete do
                  Sign out
                  %span.gl-right.glyphicon.glyphicon-log-out
        - else
          %li= link_to 'Sign in', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path

