%header.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      = link_to '#', class:'navbar-toggle collapsed', data: { toggle: 'collapse', target: '#bs-navbar-collapse-1', 'aria-expanded': false } do
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Bookstore', root_path, class: 'navbar-brand logo'

    .collapse.navbar-collapse#bs-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        = form_tag books_path, method: :get, id: 'search-form', class: 'navbar-form navbar-left' do
          .form-group
            = text_field_tag :search, params[:search], placeholder: "#{t('.search_books')}", class: 'form-control'
          = submit_tag "#{t('.search')}", class: 'btn btn-default'
        - if user_signed_in?
          %li
            = link_to cart_path do
              %span.glyphicon.glyphicon-shopping-cart
              #{t('.cart')} (#{cart_counter}) #{order_total_price}
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown', role: 'button', 'aria-haspopup': true, 'aria-expanded': false } do
              = image_tag get_avatar, class: 'profile-image img-circle'
              = current_user.email
              %span.caret
            %ul.dropdown-menu
              - if can? :access, :rails_admin
                %li
                  = link_to rails_admin.dashboard_path do
                    %span.gl-right.glyphicon.glyphicon-wrench
                    #{t('.admin_panel')}
              %li
                = link_to wishlist_books_path do
                  %span.gl-right.glyphicon.glyphicon-heart
                  #{t('.my_wishlist')}
              %li
                = link_to orders_path do
                  %span.gl-right.glyphicon.glyphicon-list-alt
                  #{t('.my_orders')}
              %li
                = link_to edit_user_registration_path do
                  %span.gl-right.glyphicon.glyphicon-cog
                  #{t('.settings')}
              %li.divider{role: 'separator'}
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %span.gl-right.glyphicon.glyphicon-log-out
                  #{t('.sign_out')}
        - else
          %li= link_to t('.sign_in'), new_user_session_path
          %li= link_to t('.sign_up'), new_user_registration_path
